In [1]:
a = 1
b = 2

In [2]:
c = a+b

In [3]:
c

3

In [4]:
3//2

1

In [5]:
3**2

9

In [6]:
3%2

1

In [7]:
3/2

1.5

strings

In [8]:
name = "caleb prossy EnocK"

In [9]:
name[2:]

'leb prossy EnocK'

In [10]:
name[1:7]

'aleb p'

In [11]:
name[-1]

'K'

In [12]:
name[::-1]

'KconE yssorp belac'

In [17]:
name[:7:2]

'clbp'

In [20]:
num = "256-755-567-986"

In [25]:
num.split("-")

['256', '755', '567', '986']

In [22]:
num.split("-",1)

['256', '755-567-986']

In [24]:
num.rsplit("-",1)

['256-755-567', '986']

In [26]:
num1=["456","6474"]

In [27]:
"".join(num1)

'4566474'

In [28]:
"-".join(num1)

'456-6474'

In [29]:
name.upper()

'CALEB PROSSY ENOCK'

In [30]:
name.lower()

'caleb prossy enock'

In [31]:
name.upper()

'CALEB PROSSY ENOCK'

In [33]:
len(name)

18

In [43]:
name.count("e",1,5)

1

In [36]:
name.count("s")

2

In [40]:
n = name.lower()

In [41]:
n.count("e")

2

In [44]:
name.find("e")

3

In [45]:
name[3]

'e'

In [57]:
n1 = "smartphone"

5

In [49]:
first = n1[:5]

In [50]:
last =n1[5:]

In [52]:
first

'smart'

In [61]:
res = n1.split('p')

res[1] = 'p' + res[1]

In [62]:
res

['smart', 'phone']

PRINTING

In [64]:
print('first is {f} and second is {l}'.format(f=first,l=last))

first is smart and second is phone

In [65]:
list1 = [1,3,4,5,"cale","Enock"]

In [66]:
list1[-1]

'Enock'

In [67]:
mat = [[1,3,4],
      [2,4,5],
      [9,2,3]]

In [68]:
mat

[[1, 3, 4], [2, 4, 5], [9, 2, 3]]

In [69]:
mat[0][1]

3

In [76]:
nam = ["Caleb","prossy","Enock"]

In [78]:
nam.append("Jerry")

In [89]:
nam

['Caleb', 'prossy', 'Enock', 'Jerry', 22, 16, 20, 30]

In [90]:
age =[22,16,20,30]

In [91]:
#nam.extend(age)

In [92]:
#nam

In [93]:
n=zip(nam,age)

In [94]:
n

In [95]:
nam

['Caleb', 'prossy', 'Enock', 'Jerry', 22, 16, 20, 30]

In [96]:
d = tuple(n)

In [97]:
d

(('Caleb', 22), ('prossy', 16), ('Enock', 20), ('Jerry', 30))

In [98]:
dict(d)

{'Caleb': 22, 'prossy': 16, 'Enock': 20, 'Jerry': 30}

In [100]:
list(dict(d))

['Caleb', 'prossy', 'Enock', 'Jerry']

In [102]:
#list(name)

In [103]:
detail = {'lab':6,'cup':10}

In [105]:
detail["lab"]

6

In [106]:
detail["plates"] = 2

In [107]:
detail

{'lab': 6, 'cup': 10, 'plates': 2}

In [111]:
y = detail.get("lab")

In [112]:
y

6

In [116]:
detail.items()

dict_items([('lab', 6), ('cup', 10), ('plates', 2)])

In [117]:
A =(2,4,5,6,9,1)
B= (2,3,5,9)

In [118]:
A+B

(2, 4, 5, 6, 9, 1, 2, 3, 5, 9)

In [119]:
a = [5,57,8]

z = set(a)

In [120]:
z

{5, 8, 57}

In [121]:
b = {5,7,5}

In [122]:
b

{5, 7}

In [124]:
s = set(b) & set(a)

In [125]:
s

{5}

In [126]:
m = set(b) or set(a)

In [127]:
m

{5, 7}

In [129]:
s = set(b) | set(a)

In [130]:
s

{5, 7, 8, 57}

In [118]:
A+B

(2, 4, 5, 6, 9, 1, 2, 3, 5, 9)

In [119]:
a = [5,57,8]

z = set(a)

In [120]:
z

{5, 8, 57}

In [121]:
b = {5,7,5}

In [122]:
b

{5, 7}

In [124]:
s = set(b) & set(a)

In [125]:
s

{5}

In [126]:
m = set(b) or set(a)

In [127]:
m

{5, 7}

In [129]:
s = set(b) | set(a)

In [130]:
s

{5, 7, 8, 57}

In [118]:
A+B

(2, 4, 5, 6, 9, 1, 2, 3, 5, 9)

In [119]:
a = [5,57,8]

z = set(a)

In [120]:
z

{5, 8, 57}

In [121]:
b = {5,7,5}

In [122]:
b

{5, 7}

In [124]:
s = set(b) & set(a)

In [125]:
s

{5}

In [126]:
m = set(b) or set(a)

In [127]:
m

{5, 7}

In [129]:
s = set(b) | set(a)

In [130]:
s

{5, 7, 8, 57}

In [131]:
set(b) ^ set(a)

{7, 8, 57}

In [135]:
set(b) - set(a)

{7}

In [136]:
set(a)- set(b)

{8, 57}

In [139]:
p = 4
k= 6

In [141]:
if p>k:
    print("yes")
else:
    print("No")

No

In [142]:
if p<k:
    print("yes")
else:
    print("No")

yes

In [143]:
if p==k:
    print("yes")
else:
    print("No")

No

In [144]:
if p !=k:
    print("yes")
else:
    print("No")

yes

In [145]:
if p and k ==5:
    print("yes")
else:
    print("No")

No

In [146]:
if p and k >0:
    print("yes")
else:
    print("No")

yes

In [147]:
if p or k ==4:
    print("yes")
else:
    print("No")

yes

In [150]:
if p & k ==4:
    print("yes")
else:
    print("No")

yes

In [151]:
if p | k ==4:
    print("yes")
else:
    print("No")

No

In [152]:
for i in range(1,10):
    print(i**2)

1
4
9
16
25
36
49
64
81

In [154]:
[(i**2) for i in range(1,5)]

[1, 4, 9, 16]

In [158]:
for i in range(1,5):
    print(i, end = " ")
    for j in range(1,7):
        print(i*j,end =" ")
    print()

1 1 2 3 4 5 6
2 2 4 6 8 10 12
3 3 6 9 12 15 18
4 4 8 12 16 20 24

In [163]:
for i in range(1,5):
    
    for j in range(1,7):
        print("*"*i,end =" ")
    print()

* * * * * *
** ** ** ** ** **
*** *** *** *** *** ***
**** **** **** **** **** ****

In [166]:
for i in range(1,5):
    
    for j in range(1,i):
        print("*",end =" ")
    print()

*
* *
* * *

In [176]:
for i in range(5,1,-1):
    print(" ",end =" ")
    for j in range(1,i):
        print("*",end =" ")
    print()

  * * * *
  * * *
  * *
  *

  *
  * *
  * * *

  *
  * *
  * * *
  * * * *

In [181]:
b = 5
for i in range(b):
    print("#",end =" ")
    for j in range(i):
        print("* ",end =" ")
    print()

#
# *
# *  *
# *  *  *
# *  *  *  *

In [187]:
l = 4
for i in range(l):
    
    print("#", end =" ")
    for j in range(l-(i+1)):
        print("*",end =" " )
    print()

# * * *
# * *
# *
#

In [192]:
q = 5
for i in range(q):
    for j in range(q-(i+1)):
        print(" ",end =" ")
    print("# ", end = " ")
    for z in range(i):
        print("* ", end =" ")
    print(" ")

        #
      #  *
    #  *  *
  #  *  *  *
#  *  *  *  *